[sources]
# For Bro Package Manager client commands that don't explicitly specify a
# a source, the default source is used.  Its value may be changed to any valid
# Git URL.
default: https://github.com/bro/packages

# Additional sources may be added as long as they use a unique key with a value
# that is a valid git URL.

[paths]
# The path where packages are installed.
cache: %(command_line_client_dir)s/cache
