# NOTE: do not make changes directly to this file, instead copy to
# another location and use one of the following methods to tell bro-pkg
# to use it:
#
# (1) name the custom config file "bro-pkg.config" and put it in the
#     same directory as the "bro-pkg" command line client.
# (2) set BRO_PKG_CONFIG_FILE environment variable to the custom config
#     file path
# (3) bro-pkg --configfile=/path/to/custom/config

[sources]
# For Bro Package Manager client commands that don't explicitly specify
# a source, the default source is used.  Its value may be changed to any
# valid Git URL.
default = https://github.com/bro/packages

# Additional sources may be added as long as they use a unique key with
# a value that is a valid git URL.

[paths]
# Path where source repositories are cloned, packages are installed, and
# other package manager state information is maintained.
state = %(command_line_client_dir)s/.state

# The path to the 'bro' executable (e.g. /usr/local/bro/bin/bro).
# This is used by the 'bro-pkg env' command to determine built-in
# BROPATH and BRO_PLUGIN_PATH settings the 'bro' executable uses in the
# case those environment variables aren't set.
# If left empty, the PATH environment variable is searched instead.
bro_exe =

# The path to Bro distribution source code.  This is only needed when
# installing packages that contain Bro plugins that are not pre-built.
bro_dist =
