# This is a config file for bro-pkg meant to be installed as
# part of Bro's CMake build system.

[sources]

# The default package source repository from which package manager
# clients fetch packages.  The default source may be removed, changed,
# or additional sources may be added as long as they use a unique key
# and a value that is a valid git URL.
default = https://github.com/bro/packages

[paths]

# Directory where source repositories are cloned, packages are
# installed, and other package manager state information is
# maintained.  If left blank, this defaults to $HOME/.bro-pkg
statedir = @BRO_ROOT@/var/lib/package-manager

# The directory where package scripts are copied upon installation.
# A subdirectory named 'packages' is always created within the
# specified path and the package manager will copy each package's
# 'scriptpath' to that subdirectory as well as create a symlink within
# $scriptdir itself that points to the package's copied 'scriptpath'.
# If left blank, this defaults to $statedir/scriptdir
# A typical path to set here is $bro_install_prefix/share/bro/site
scriptdir = @BRO_SCRIPT_INSTALL_PATH@/site

# The directory where package plugins are copied upon installation.
# A subdirectory named 'packages' is always created within the
# specified path for the package manager to work within.
# If left blank, this defaults to $statedir/plugindir
# A typical path to set here is $bro_install_prefix/lib/bro/plugins
plugindir = @BRO_ROOT@/lib/bro/plugins

# The path to the 'bro' executable (e.g. /usr/local/bro/bin/bro).
# This is used by the 'bro-pkg env' command to determine built-in
# BROPATH and BRO_PLUGIN_PATH settings the 'bro' executable uses in
# the case those environment variables aren't set.
# If left empty, the PATH environment variable will be searched for
# the 'bro' exectuable.
bro_exe = @BRO_ROOT@/bin/bro

# The path to Bro distribution source code.  This is only needed when
# installing packages that contain Bro plugins that are not pre-built.
bro_dist = @BRO_DIST@
